

<!-- Optional JavaScript -->
<link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css"
/>
<link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"
/>
<script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
<script src="js/main.js" ></script>
<script src="https://api-maps.yandex.ru/2.1/?apikey=aae97d85-eb01-44e4-bd38-fe0ceaef6c3c&lang=ru_RU" type="text/javascript"></script>
</body>
</html>